<a href="https://colab.research.google.com/github/chokofondue/Ai_School/blob/master/2%EC%A3%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# 주어진 변수(a, b, c) 직접 수정불가
a = 'str'
b = 123
c = True

print(type(a), type(b), type(c) ,sep='\n') # sep : print문의 출력문들 사이에 해당하는 내용을 넣을 수 있습니다.

<class 'str'>
<class 'int'>
<class 'bool'>

In [11]:
# 주어진 변수(num_list) 직접 수정 불가
# for문을 사용 하지 않은 경우 오답처리
num_list = [1,2,3,4,5,6,7,8,9]
answer = 0
for i in num_list:
  answer = answer + i
print(answer)

45

In [18]:
# 주어진 변수(date)만 직접 수정불가, 다른 year, month, day 변수는 직접 수정가능
# 슬라이스를 사용 안 할 경우 오답처리
date = '20200511'

year = date[0:4]
month = date[4:6]
day = date[6:8]

print(year, month, day)

2020 05 11

In [19]:
# 주어진 변수(summary) 직접 수정불가
summary = 0

for i in list(range(1,101)):
  summary = summary + i

print(summary)

5050

In [21]:
# 주어진 변수(hangul) 직접 수정불가
hangul = '가나다라마바사'

# 출력
hangul = hangul[::-1]

print(hangul)

사바마라다나가

In [51]:
# 주어진 변수(num) 직접 수정불가
num = "70 50 90 70"
sum = 0

list_num = list(map(int, list_num))

for i in list_num :
  sum = sum + i

avg = sum/len(list_num)

print(avg)

#출력

70.0

In [68]:
# 주어진 변수(n) 직접 수정불가
n = int(input('숫자를 입력해주세요'))
a = 0

if (a == n % 2) :
  print("짝수")
else :
  print("짝수가 아닙니다")

#출력

숫자를 입력해주세요3
짝수가 아닙니다

In [69]:
# 주어진 변수(list_08) 직접 수정불가
list_08 = [3, 4]
dia = list_08[0]**2 + list_08[1]**2

print(dia)
# 출력

25

In [70]:
# 주어진 변수(num_10) 직접 수정불가
# 함수(prime_number) 직접 수정가능
num_10 = int(input('숫자를 입력해주세요'))

def prime_number(n):
    pass

prime_number(num_10)

SyntaxError: ignored

**1번 문제 (Hypothesis)**

정답 : 31

**2번 문제 (Cost function)**

정답 : 14

**3번 문제 (Logistic regression sigmoid function)**

정답 : f(x) > 0